@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@layer utilities {
  html,
  body,
  #root,
  .app {
    height: 100%;
    /* background-color: #010026; */
    background: #000000;
    background: linear-gradient(
      183deg,
      rgba(0, 0, 0, 1) 0%,
      rgb(1, 0, 64) 38%,
      rgba(0, 0, 0, 1) 100%
    );

    /* @apply text-white; */
  }
  .bg-content-brush {
    background-image: url("./assets/brush.png");
    background-size: contain;
  }
  .a {
    fill: #f9dccd;
  }
  .b {
    fill: #000000;
  }
  .c {
    fill: #262627;
  }
  .d {
    fill: #000000;
  }
  .e {
    fill: #00050a;
  }
}
