/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap"); */

@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */
@layer utilities {
  html,
  body,
  #root,
  .app {
    /* height: 100%; */
    height: auto;
/* background: transparent; */
/* background: #000000; */
background-repeat: repeat;
/* background: linear-gradient(
  183deg,
  rgba(0, 0, 0, 1) 0%,
  rgb(1, 0, 64) 38%,
  rgba(0, 0, 0, 1) 100%
  ); */
   background: radial-gradient(ellipse at bottom, rgb(194, 72, 72) 10%, rgb(64 107 137) 30%, rgba(0, 0, 0, 1) 70%);
    background-attachment: fixed;
  scroll-behavior: smooth;
}
.gradientText{
  /* background: url("assets/istockphoto-1353633402-612x612.jpg"); */
  background: url("/assets/purple-background.avif");
  background-size: contain;
  /* background: linear-gradient(to right, #f00, rgb(0, 255, 247)); */
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
  font-family: "Nosifer", sans-serif;
}
.nameText{
  /* background: url("assets/9d701ff7db8e38c04816163c9398f395.gif"); */
  /* background: url("assets/source.gif"); */
  background: url("/assets/download.jpeg");
  background-size: contain;
  /* background: linear-gradient(to right, #f00, rgb(0, 255, 247)); */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none;
  font-family: "Nosifer", sans-serif;
}
.resumeText{
  font-family: "Cinzel Decorative", serif;
  background: linear-gradient(to right, #f00, rgb(0, 255, 247));
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
}
.masked-image {
  width: 300px;
  height: 300px;
  background-image: url("assets/avatar-1.png");
  background-size: cover;
  background-position: center;

  -webkit-mask-image: url("assets/shape-11550708410fnbppjzbn2.png");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url("assets/shape-11550708410fnbppjzbn2.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}

/* @font-face {
  font-family: "MyFont";
  src: url("/fonts/MyFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

 .stars-bg{
  /* height: 100%; */
      background: #000000;
    background-repeat: repeat;
    /* background: radial-gradient(
      ellipse at bottom,
      rgb(194, 72, 72) 30%,
      rgba(0, 0, 0, 1) 70%
    ); */
        background: radial-gradient(ellipse at bottom, rgb(194, 72, 72) 10%, rgb(64 107 137) 30%, rgba(0, 0, 0, 1) 70%);
    background-attachment: fixed;
  }
  #home, .resume, #skills , #contact{
     /* background: radial-gradient(ellipse at bottom, rgb(194, 72, 72) 10%, rgb(64 107 137) 30%, rgba(0, 0, 0, 1) 70%);
    background-attachment: fixed; */
    backdrop-filter: blur(55px);
  }
  /* @property --box-shadow-color {
    syntax: "<color>";
    inherits: false;
    initial-value: cyan;
  }

  .bg-content-brush {
    background-image: url("./assets/brush.png");
    background-size: contain;
  }
  .a {
    fill: #f9dccd;
  }
  .b {
    fill: #000000;
  }
  .c {
    fill: #262627;
  }
  .d {
    fill: #000000;
  }
  .e {
    fill: #00050a;
  } */
  /* .draw {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawSVG 3s linear forwards;
  }
  @keyframes drawSVG {
    to {
      stroke-dashoffset: 0;
    }
  } */
  .blurDiv{
    backdrop-filter: blur(40px);
  }
  .perspective-avatar {
    perspective: 500px;
    transform-style: preserve-3d;
    position: relative;
    z-index: 5;
    /* background-color: wheat; */
    transition: all 0.3s ease-in-out;
    /* overflow: hidden; */
    /* object-fit: cover; */
  }
  /* .perspective-avatar:hover {
    box-shadow: 0px 0px 49px 11px var(--box-shadow-color) inset;
    -webkit-box-shadow: 0px 0px 49px 11px var(--box-shadow-color);
    -moz-box-shadow: 0px 0px 49px 11px var(--box-shadow-color);
    animation: bs-color 0.5s linear infinite alternate;
    } */
    
    .perspective-avatar img {
      width: 90px !important;
      margin-left: -10px;
      max-width: 200%;
      height: auto;
      object-fit: contain;
      transform: translate3d(0px, -15px, 0px);
      z-index: 2;
      filter: drop-shadow(0px 0px 4px rgb(255, 0, 242));
      transition: all 0.5s ease-in-out;
  }
  .perspective-avatar img:hover {
    filter: drop-shadow(0px 0px 4px cyan);
  }
  .hide-bottom-0f-avatar {
    width: 40px;
    /* height: 5px; */
    border-bottom: 11px solid #252738;
    background: #252738;
    position: absolute;
    bottom: 0;
    left: 20px;
    border-radius: 50%;
    z-index: 3;
  }
  

  .move-left-contact-btn {
    position: absolute;
  }
  .move-left {
    padding-left: 50px;
  }
  .move-left:hover .move-left-contact-btn {
    transform: translateX(-100%);
  }
  .moveSvgLeft{
    transform: translateX(-100vw);
  }



.demo-svg{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawSVG 3s linear forwards 
}
.navbar{
  box-shadow: 0px 0px 33px 1px rgba(255, 255, 255, 0.519) inset;
  backdrop-filter: blur(10px);
}

.try-svg{
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: drawSVG 3s linear forwards 
}
.dropShadowClass{
  filter:drop-shadow(0px 0px 13px rgb(101, 189, 211))
  /* filter: drop-shadow(1px 1px 1px black); */
}

}